root = true

[*]
charset=utf-8
end_of_line=crlf
insert_final_newline=false
indent_style=space
indent_size=4
continuation_indent_size = 4

[*.json]
indent_style=space
indent_size=2

[*.feature]
indent_style=space
indent_size=2
insert_final_newline=true

[{*.sc,*.scala}]
indent_style=space
indent_size=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

