.vscode
node_modules/
*.iml
*.orig
classes/
profiler/
target/
bin/generator.jar
.idea/sonarlint

# Eclipse files
**/*.cache-main
**/*.cache-tests
**/*.classpath
**/*.project
**/*.settings

# Ignore Gradle project-specific cache directory
.gradle/
gradle/
