.idea
.vscode
node_modules/
*.iml
*.orig
classes/
profiler/
target/

# Eclipse files
**/*.cache-main
**/*.cache-tests
**/*.classpath
**/*.project
**/*.settings

# Ignore Gradle project-specific cache directory
.gradle/
build/generator/out/
schemas/out/
generator/build/
generator/out/
schemas/build/
