$brand-primary: #7462E0;
$brand-primary-light: #F1EFFB;
$brand-dark: #595959;
$brand-light: #939393;

$small-screen: 550px;
$medium-screen: 750px;

body {
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  color: $brand-dark;
  padding-top: 3.2rem;
}

h2 {
  font-size: 2.8rem;
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
}
h3 {
  font-size: 2.1rem;
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
}
p, ul, pre {
  margin-bottom: 1.4rem;
}
ul.no-bullets {
  list-style: none;
  margin-left: 2rem;
}

a {
  color: $brand-primary;
  text-decoration: none;
  &:hover {
    color: $brand-primary;
    text-decoration: underline;
  }
}

strong {
  color: #181818;
}

code {
  font-family: 'Roboto Mono', monospace;
  border: none;
  background-color: adjust-color($brand-primary, $alpha: -0.9);
  border-radius: 0;
  overflow-x: auto;
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

.container {
  width: 100%;
}

.sidebar {
  nav {
    display: none;
  }
}

@media (min-width: $small-screen) {
  .sidebar {
    position: sticky;
    top: 3.2rem;

    nav {
      display: block;
    }
  }
}

.title {
  text-indent: -9999px;
  width: 100%;
  height: 155px;
  margin-bottom: 2rem;
  background: url('logo.svg') center center transparent no-repeat;

  @media (min-width: $small-screen) {
    background-position: left center;
  }

  @media (min-width: $medium-screen) {
    margin-bottom: 5rem;
  }
}

nav {
  margin-bottom: 5rem;

  ul {
    list-style: none;

    li {

      a {
        text-decoration: none;
        color: $brand-dark;

        &:hover {
          color: $brand-primary;
        }
      }
    }

    ul {
      margin-top: 1rem;
    }
  }
}

.attributions {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (min-width: $small-screen) {
    flex-direction: column;
    align-items: flex-start;
  }

  .attribution {
    height: 32px;
    font-size: 1.4rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 1rem 0;
  
    > .logo {
      height: 100%;
      display: inline-block;
      margin-right: 9px;
    }
  }
}