version: 2.1
orbs:
  codecov: codecov/codecov@1.0.2
jobs:

  check_commit_message:
    docker:
      - image: circleci/openjdk:8-jdk-browsers
    working_directory: ~/datahelix/
    steps:
      - checkout
      - run: chmod +x commit_check.sh
      - run: ./commit_check.sh

  build:
    docker:
      - image: circleci/openjdk:8-jdk-browsers
    steps:
      - checkout
      # If changing build tools be sure to update GeneratorSetup.md in docs
      - run: gradle fatJar :output:test :profile:test :generator:test :common:test :orchestrator:test
      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results/junit
      - codecov/upload:
          file: schemas/target/jacoco-reports/jacoco.xml
      - codecov/upload:
          file: generator/target/jacoco-reports/jacoco.xml

  release:
    docker:
      - image: circleci/openjdk:8-jdk-browsers
    steps:
      - add_ssh_keys:
          fingerprints:
            # TODO: Configure fingerprint for main project credentials
            - "2e:7e:4f:29:21:87:2b:71:46:42:45:c4:9a:f4:a3:b6"
      - checkout
      - run: gradle fatJar
      - run: gradle release -Dorg.ajoberstar.grgit.auth.username=${GH_TOKEN} -Dorg.ajoberstar.grgit.auth.password


workflows:
  version: 2
  build_and_test:
    jobs:
      - build:
          filters:
            branches:
              ignore: master
      - check_commit_message:
          filters:
            branches:
              ignore: master
  release:
    jobs:
      - release:
          filters:
            branches:
              only: master
