version: 2.1
jobs:

  build:
    docker:
      - image: circleci/openjdk:8-jdk-browsers
    steps:
      - checkout
      # If changing build tools be sure to update GeneratorSetup.md in docs
      - run: gradle fatJar :output:test :profile:test :generator:test :common:test :orchestrator:test
      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results/junit

  release:
    docker:
      - image: circleci/openjdk:8-jdk-browsers
    steps:
      - checkout
      # If changing build tools be sure to update GeneratorSetup.md in docs
      - run: gradle :output:release :profile:release :generator:release :common:release :orchestrator:release

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
# TODO: Ensure gradle migration is smooth before introducing release job
  release:
    jobs:
      - release:
          filters:
            branches:
              only: master
